@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./lib/colors";
@import "./lib/variables";
@import "./lib/typography";
@import "./lib/micon/micon";

body {
    @apply
    overflow-x-hidden
    w-screen;
}

.wrapper {
    @apply
    container
    flex
    flex-col
    mx-auto;

  header {
      @apply
      subpixel-antialiased
      bg-white
      fixed
      flex
      float-none
      justify-between
      mb-5
      top-0
      w-full;
  }

  footer {
      @apply
      block
      flex
      float-none
      justify-between
      mt-5
      subpixel-antialiased
      w-full;
  }

  section {
      @apply
      w-full
      pt-36;

    .grid-col-3 {
      @apply
      grid
      grid-cols-3
      gap-x-4
      gap-y-8;
      grid-template-rows: none;
    }

    .grid-col-2 {
      @apply
      grid
      grid-cols-2
      gap-x-4
      gap-y-8;
      grid-template-rows: none;
    }

    h2 {
      @apply
        text-cf-base;
    }

    .action-bar {
        @apply
        flex
        items-center
        justify-between
        mb-8;


      h1 {
        @apply m-0;
      }

      .actions {
          @apply
          flex
          items-center
          gap-2
          ml-auto;

        a.action-link {
            @apply
            flex
            items-center
            text-cf-gray
            text-right
            transition
            duration-500
            ease-out
            min-w-[3.5rem]
            px-1
            py-2;
          font-size: 0.8rem;
          line-height: 0;

          .action-label {
            @apply ml-1.5;
          }

          &.download {
            @apply text-cf-base;
          }

          &:hover {
              @apply
              text-black
              font-normal;
          }
        }
      }
    }

    .parser {
      @apply mb-8;
    }

    ul {
        @apply
        m-0
        w-full;

      &.menu {
          @apply
          list-square
          pl-6
          text-cf-base;
      }

      li {
          @apply
          cursor-pointer
          mb-2
          w-full;

        a {
            @apply
            bg-transparent
            transition
            duration-500
            ease-out
            px-1
            py-2
            pl-0
            text-black
            w-full
            whitespace-nowrap;

          &:hover {
            @apply
            text-cf-base;
            letter-spacing: 0.25px;
          }
        }
      }
    }

    a.button {
        @apply
        bg-transparent
        border
        border-cf-base
        mb-4
        min-w-[150px]
        text-cf-base
        px-1
        py-2;

      &:hover {
          @apply
          bg-cf-base
          text-white;
      }
    }

    a.link {
        @apply
        bg-transparent
        text-cf-base
        transition
        duration-500
        ease-out
        mb-4
        min-w-[150px]
        pl-0
        px-1
        py-2;

      &:hover {
          @apply
          bg-cf-base
          text-white
          pl-2;
      }
    }

    table {
      font-family: RobotoCondensed, Roboto;
      font-size: 0.9rem;
      font-weight: 300;
      border-collapse: collapse;
      thead {
        td {
          padding: 0.3rem 0.5rem;
          border-bottom: 1px solid $grey;
        }
      }
      tbody {
        td {
          padding: 0.3rem 0.5rem;
          border-bottom: 1px solid $light-grey;
        }
      }
    }
  }
}

.fit-content {
  @apply w-fit;
}



