@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./lib/colors";
@import "./lib/variables";
@import "./lib/typography";
/*-- micon library --*/
@import "./lib/micon/micon";

body {
    @apply
    overflow-x-hidden
    w-screen;
}

.wrapper {
    @apply
    container
    flex
    flex-col
    mx-auto;

  header {
      @apply
      subpixel-antialiased
      bg-white
      fixed
      flex
      float-none
      justify-between
      mb-5
      top-0
      w-full;
  }

  footer {
      @apply
      block
      flex
      float-none
      justify-between
      mt-5
      subpixel-antialiased
      w-full;
  }

  section {
      @apply
      w-full
      pt-36;

    .grid-col-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
      grid-column-gap: 1rem;
      grid-row-gap: 2rem;
    }

    .grid-col-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: none;
      grid-column-gap: 1rem;
      grid-row-gap: 2rem;
    }

    h2 {
      @apply
        text-cf-base;
    }

    .action-bar {
        @apply
        flex
        items-center
        justify-between
        mb-8;


      h1 {
        @apply m-0;
      }

      .actions {
          @apply
          flex
          items-center
          gap-2
          ml-auto;

        a.action-link {
            @apply
            flex
            items-center
            text-cf-gray;
          padding: $padding;
          min-width: 3.5rem;
          text-align: right;
          font-size: 0.8rem;
          line-height: 0;
          transition: $transition;

          .action-label {
            @apply ml-1.5;
          }

          &.download {
            @apply text-cf-base;
          }

          &:hover {
              @apply
              text-black
              font-normal;
          }
        }
      }
    }

    .parser {
      @apply mb-8;
    }

    ul {
        @apply
        m-0
        w-full;

      &.menu {
          @apply
          list-square
          pl-6
          text-cf-base;
      }

      li {
        margin-bottom: 0.5rem;
        cursor: pointer;
        width: 100%;

        a {
          color: $black;
          background-color: transparent;
          padding: $padding;
          padding-left: 0;
          transition: $transition;
          width: 100%;
          white-space: nowrap;

          &:hover {
            color: $red;
            letter-spacing: 0.25px;
          }
        }
      }
    }

    a.button {
      background: transparent;
      border: 1px solid $red;
      color: $red;
      padding: $padding;
      margin-bottom: 1rem;
      min-width: 150px;

      &:hover {
        background: $red;
        color: white;
      }
    }

    a.link {
      background: transparent;
      color: $red;
      padding: $padding;
      padding-left: 0;
      margin-bottom: 1rem;
      min-width: 150px;
      transition: $transition;

      &:hover {
        padding-left: 0.5rem;
        background: $red;
        color: white;
      }
    }

    table {
      font-family: Roboto;
      font-size: 0.9rem;
      font-weight: 300;
      border-collapse: collapse;
      thead {
        td {
          padding: 0.3rem 0.5rem;
          border-bottom: 1px solid $grey;
        }
      }
      tbody {
        td {
          padding: 0.3rem 0.5rem;
          border-bottom: 1px solid $light-grey;
        }
      }
    }
  }
}

.fit-content {
  width: fit-content;
}



